@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600,700);
html {
  background: url(../img/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}
a {
  color: #0088cc;
  text-decoration: underline;
}
a:hover {
  color: #005580;
  text-decoration: underline;
}
* {
  outline: 0;
}
.top-bar {
  height: 128px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}
.back-button {
  float: left;
  width: 10%;
  text-align: center;
  padding-top: 30px;
}
.back-button :hover {
  opacity: 0.5;
}
.app-title {
  float: left;
  width: 80%;
  text-align: center;
  padding-top: 50px;
  color: #333333;
  font-size: 30px;
}
.sign-in {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 500px;
  height: auto;
  margin: auto;
  margin-top: 250px;
  max-width: 100%;
  max-height: 100%;
}
.sign-in a {
  text-decoration: none;
}
.sign-in .title {
  padding: 30px 20px;
  border-radius: 15px 15px 0 0;
  border-bottom: 1px solid #a3a5a5;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 25px;
}
.sign-in .clients {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid #a3a5a5;
  font-size: 20px;
  color: #333333;
}
.sign-in .clients span {
  margin-right: 30px;
}
.sign-in .clients span img {
  vertical-align: middle;
}
.sign-in .clients:hover {
  opacity: 0.9;
}
.sign-in .poweredby {
  padding: 20px;
  border-radius: 0 0 15px 15px;
  background-color: rgba(255, 255, 255, 0.7);
}
.sign-in .poweredby a {
  color: #333333;
  font-weight: 600;
}
.sign-in .poweredby a:hover {
  color: #666666;
}
